```css
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
    padding: 20px 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

header, nav, main, footer {
    width: 100%;
    background-color: #ffffff;
    margin: 12px;
    padding: 20px;
    border-radius: 30px;
}

header {
    border-left: 8px solid #000000;
}

h1 {
    color: #111111;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-evenly;
}

main p {
    min-width: 100%;
    color: rgb(0, 0, 0);
}

aside {
    width: 30%;
}

article {
    width: 60%;
}

aside, article {
    background-color: #e5e5e5;
    border-radius: 30px;
    padding: 20px;
}

section {
    background-color: #b4b4b4;
    width: 90%;
    padding: 20px;
    border-radius: 30px;
}

mark {
    background-color: #000000;
    color: #ffffff;
    padding: 3px 6px;
    border-radius: 5px;
}

figure {
    text-align: center;
    margin-top: 15px;
}

figure img {
    border-radius: 20px;
}

figcaption {
    margin-top: 8px;
    font-weight: bold;
}

address {
    background-color: #e5e5e5;
    padding: 20px;
    border-radius: 30px;
}
```
