* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #1e1e1e;
    padding: 20px 80px;
    align-items: center;
}

header, nav, main, footer {
    width: 100%;
    background-color: #ffffff;
    margin: 12px;
    padding: 20px;
    border-radius: 30px;
}

header {
    border-left: 8px solid #14298a;
}

h1 {
    color: #14298a;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main p {
    min-width: 100%;
    color: rgb(30, 45, 85);
}

aside {
    width: 35%;
}

article {
    width: 60%;
}

aside, article {
    background-color: #83ace26c;
    border-radius: 30px;
    padding: 20px;
}

section {
    background-color: #93b5e281;
    width: 90%;
    padding: 20px;
    border-radius: 30px;
}

mark {
    background-color: #182c64;
    color: #ffffff;
    padding: 3px;
    border-radius: 5px;
}

figure {
    text-align: center;
    margin-top: 15px;
}

figure img {
    border-radius: 20px;
}

figcaption {
    margin-top: 10px;
    font-weight: bold;
}

address {
    background-color: #e5e5e5;
    padding: 20px;
    border-radius: 30px;
}